
html, body {
	height: 100%;
	margin: 0;
}

.container {
	width: 3000px;
	height: 590px;
	display: block;
	background: url('../images/bg.png');
	margin: 0 0 0 50px;
	float: left;
	z-index: 1;
}

.container2 {
	width: 960px;
	height: 100%;
	display: block;
	margin: 0 auto;
	z-index: 1;
}

.thankyou {
	display: block;
	position: absolute;
	width: 300px;
	float: right;
	margin: 300px 0 0 2980px;
}

.thankyou ul li img {
	margin-bottom: 30px;
}

.line, .line2, .line3, .line4 {
	display: block;
	width: 1px;
	position: absolute;
	bottom: 0;
	height: 100%;
	background-color: rgba(00,00,00,0.2);
	float: left;
	margin: 0 0 0 42px;
}

.line7, .line8 {
	display: block;
	width: 1px;
	float: right;
	position: relative;
	bottom: 0;
	height: 100%;
	background-color: rgba(00,00,00,0.2);
}


.line { margin: 0 0 0 42px; }
.line2 { margin: 0 0 0 38px;}
.line3 { margin: 0 0 0 2955px; }
.line4 { margin: 0 0 0 2958px; }
.line5 { margin: 0 0 0 960px; }
.line6 { margin: 0 0 0 963px; }
.line7 { margin: 0 0 0 960px; }
.line8 { margin: 0 0 0 963px; }

.top {
	width: 960px;
	position: absolute;
	float: left;
	margin: 20px 0 0 50px;
	z-index: 2;
}

.container2 .top {
	margin: 20px 0 0 10px;
} 

header ul.title {
	float: left;
}

header ul.seeus {
	float: left;
	margin: 0 0 0 150px;
}


#profilepics {
	margin: 140px 0 0 0;
	float: left;
}

#profilepics .profilepic {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	float: left;
	display: block;
	width: 130px;
	height: 570px;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	cursor: pointer;
	padding: 0 0 0 10px;
	color: #b5b5b5;
}

#profilepics .profilepic:hover {
	color: #fff;
	background-position: -140px 0;
	background-repeat:no-repeat;
}

#profilepics ul {
	margin-top: 470px;
}

#profilepics a {
	text-decoration: none;
}

#baker { background: url('../images/People/Stuart_Baker.png');}
#bennet {background: url('../images/People/OliveR_Bennet.png');}
#capita {background: url('../images/People/Manuel_Capita.png');}
#cooper {background: url('../images/People/Jason_Cooper.png');}
#dabin {background: url('../images/People/Gemma_Dabin.png');}
#damigah {background: url();}
#dolton {background: url('../images/People/Miguel_Dolton.png');}
#grater {background: url('../images/People/Jamie_Grater.png');}
#haque {background: url('../images/People/Mohammed_Haque.png');}
#howman {background: url('../images/People/Chris_Howman.png');}
#kjernes {background: url('../images/People/Julie_Kjernes.png');}
#knowland {background: url('../images/People/Joe_Knowland.png');}
#leitch {background: url('../images/People/James_Leitch.png');}
#mitchell {background: url('../images/People/Carly_Mitchell.png');}
#natalucci {background: url('../images/People/Toni_Natilucci.png');}
#robinson {background: url('../images/People/Joe_Robinson.png');}
#tailor {background: url('../images/People/Vanisha_Tailor.png');}
#yamashita {background: url('../images/People/Rio.png');}
#youngman {background: url('../images/People/Faith_Youngman.png');}
#zanbransky {background: url('../images/People/Dan_Zabransky.png');}
#dinah {background: url('../images/People/Dinah.png');}

ul {
	font-family: Hevletica, Arial, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.grey {color: #c8c9ca;}
.gold {color:#a69d92;}

li a {
	color: #c8c9ca;
}

li a:hover {
	color:#a69d92;
}

#profilepics li a {
	text-decoration: none !important;
}

#name {
	display: block;
	width:380px;
	height: 400px;
	float: left;
	margin-top: 120px;
	background-color: #b5a699;}
	
#name ul {
	margin:40px 0 0 13px;
	color: #fff;
}

#work {
	display: block;
	width: 580px;
	margin: 120px 0 0 0;
	float: right;
}

#info ul {
	width: 300px;
	display: block;
	float: left;
	margin: 20px 0 0 10px;
}



#info .description {
	margin-top:20px;
	color: #333333;
	font-family: helvetica, arial, sans-serif;
	font-size: 0.75em !important;
}

.linetest {
	display: block;
	width: 5px;
	height: 100%;
	background:url('../images/bg_profile.png');
	float: left;
	position: fixed;
}

.linetest2 {
	display: block;
	width: 5px;
	height: 100%;
	background:url('../images/bg_profile.png');
	float: right;
	margin-left:960px;
	position: fixed;
}

.contact {
	font-family: helvetica, arial, sans-serif;
	font-size: 0.75em !important;
	margin-top: 20px !important;
}

.contact a {
	color: #fff;
	text-decoration: none;
}

.contact a:hover {
	color: #97897e !important;
}

.darkbrown {
	color: #97897e !important;
}
