

.container {
	width: 2900px;
	height: 590px;
	display: block;
	background: url('../images/bg.png');
	margin: 0 0 0 50px;
	float: left;
	z-index: 1;
}

.thankyou {
	display: block;
	position: absolute;
	width: 300px;
	float: right;
	margin: 300px 0 0 2980px;
}

.thankyou ul li img {
	margin-bottom: 30px;
}

.line, .line2, .line3, .line4 {
	display: block;
	width: 1px;
	position: absolute;
	bottom: 0;
	height: 100%;
	background-color: rgba(00,00,00,0.2);
	float: left;
	margin: 0 0 0 42px;
}

.line { margin: 0 0 0 42px; }
.line2 { margin: 0 0 0 38px;}
.line3 { margin: 0 0 0 2955px; }
.line4 { margin: 0 0 0 2958px; }

.top {
	width: 960px;
	position: absolute;
	float: left;
	margin: 20px 0 0 50px;
	z-index: 2;
}


header ul.title {
	float: left;
}

header ul.seeus {
	float: left;
	margin: 0 0 0 150px;
}

#profilepics {
	margin: 140px 0 0 0;
	float: left;
}

#profilepics .profilepic {
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	float: left;
	display: block;
	width: 130px;
	height: 570px;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	cursor: pointer;
	padding: 0 0 0 10px;
	color: #b5b5b5;
}

#profilepics .profilepic:hover {
	color: #fff;
	background-position: -140px 0;
	background-repeat:no-repeat;
}

#profilepics ul {
	margin-top: 470px;
}

#baker { background: url('../images/People/Stuart_Baker.png');}
#bennet {background: url('../images/People/OliveR_Bennet.png');}
#capita {background: url('../images/People/Manuel_Capita.png');}
#cooper {background: url('../images/People/Jason_Cooper.png');}
#dabin {background: url('../images/People/Gemma_Dabin.png');}
#damigah {background: url();}
#dolton {background: url('../images/People/Miguel_Dolton.png');}
#grater {background: url('../images/People/Jamie_Grater.png');}
#haque {background: url('../images/People/Mohammed_Haque.png');}
#howman {background: url('../images/People/Chris_Howman.png');}
#kjernes {background: url();}
#knowland {background: url('../images/People/Joe_Knowland.png');}
#leitch {background: url('../images/People/James_Leitch.png');}
#mitchell {background: url('../images/People/Carly_Mitchell.png');}
#natalucci {background: url('../images/People/Toni_Natilucci.png');}
#robinson {background: url('../images/People/Joe_Robinson.png');}
#tailor {background: url('../images/People/Vanisha_Tailor.png');}
#yamashita {background: url('../images/People/Rio.png');}
#youngman {background: url('../images/People/Faith_Youngman.png');}
#zanbransky {background: url('../images/People/Dan_Zabransky.png');}

ul {
	font-family: Hevletica, Arial, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.grey {color: #c8c9ca;}
.gold {color:#a69d92;}

li a {
	color: #c8c9ca;
}

li a:hover {
	color:#a69d92;
}